---
title: How To Vanish
layout: default
---
<style>
#block1
{
    background-color: #F5F5F5;
    margin-left: 10px;
    padding-left: 10px;
    width: 425px;
}
#block2
{
    background-color: #F5F5F5;
    margin-left: 10px;
    width: 320px;
}
</style>
<!-- Banner -->
	<section id="banner">
		<header>
			<h2>How To Vanish</a></em></h2>
			<a href="#" class="button">Learn More</a>
		</header>
	</section>

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<div class="8u">
					<div id="content">

						<!-- Content -->
					
							<article>
								<div id="block1" style="float:left;">
        					<p>Merci d'avoir utilisé notre plateforme... Nos bureaux sont ouverts du lundi au vendredi de 9h00 à 17h00. Merci d'avoir utilisé notre plateforme... Nos bureaux sont ouverts du lundi au vendredi de 9h00 à 17h00</p>
    						</div>

    						<div id="block2" style="float:right;">
       						<p>Merci d'avoir utilisé notre plateforme... Nos bureaux sont ouverts du lundi au vendredi de 9h00 à 17h00. Merci d'avoir utilisé notre plateforme... Nos bureaux sont ouverts du lundi au vendredi de 9h00 à 17h00</p>
    						</div>
							</article>
					</div>
				</div>
				<div class="4u">
					{% include sidebar.html %}
				</div>
			</div>
		</div>
	</section>			
	
	{% include cta.html %}
