---
title: How To Vanish
layout: default
---
			
<!-- Banner -->
	<section id="banner">
		<header>
			<h2>How To Vanish</a></em></h2>
			<a href="#" class="button">Learn More</a>
		</header>
	</section>

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<div class="8u">
					<div id="content">

						<!-- Content -->
					
							<article>
								
							</article>
					</div>
				</div>
				<div class="4u">
					{% include sidebar.html %}
				</div>
			</div>
		</div>
	</section>			
	
	{% include cta.html %}
