<style>
.headline_meta {
	font-style: italic;
	color: #888888;
}
.headline_meta span, .headline_meta abbr { 
	font-style: normal; 
	text-transform: 
	uppercase; 
	letter-spacing: 1px; 
}
.headline_meta a { 
	border-bottom: 1px solid #eee; 
}
.headline_meta { 
	font-size: .5em;
	line-height: 1.8em; 
}
.headline_meta .pad_left { 
	padding-left: 0.9em; 
}
</style>

		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>3 Takeaways From Kaspersky Reports</h3>
    							<p class="headline_meta">by <span class="author vcard"><span class="fn">THE DRIFTER</span></span> on <abbr class="published" title="2016-07-12">19 MARCH 2015</abbr></p>
    							<p>3 Takeaways From Kaspersky Report</p>
    							<p><a href="">Read more →</a></p><br/>

    							<h3>Tin Foil Hat For Your Phone</h3>
    							<p class="headline_meta">by <span class="author vcard"><span class="fn">THE DRIFTER</span></span> on <abbr class="published" title="2016-07-12">31 JANUARY 2015</abbr></p>
    							<p>Get a tin foil hat for your phone to stop cell phone tracking and surveillance.</p>
    							<p><a href="">Read more →</a></p><br/>
								</section>
								<section class="6u">
									<h3>NSA Proof Mobile Phone Call Encryption</h3>
    							<p class="headline_meta">by <span class="author vcard"><span class="fn">THE DRIFTER</span></span> on <abbr class="published" title="2016-07-12">8 FEBRUARY 2015</abbr></p>
    							<p>Make your mobile phone NSA proof and encrypt your mobile phone calls.</p>
    							<p><a href="">Read more →</a></p><br/>

    							<h3>Is Privacy Attainable?</h3>
    							<p class="headline_meta">by <span class="author vcard"><span class="fn">THE DRIFTER</span></span> on <abbr class="published" title="2016-07-12">24 JANUARY 2015</abbr></p>
    							<p>Is Privacy Attainable? These three programs cause catastrophic failure of NSA surveillance.</p>
    							<p><a href="">Read more →</a></p><br/>
								</section>
							</div>
						</div>
						<section class="6u">
							<p>Get free updates and tips from <strong>How To Vanish.com</strong>. <br/>We respect your email privacy.</p>
							<form>
								<div class="row half collapse-at-2">
									<div class="6u">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="6u">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button alt" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; How To Vanish. All rights reserved. 2006 - 2017</li>
						</ul>
					</div>

			</div>

	</body>
</html>
