		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>Popular Posts</h3>
									<ul class="links">
										<li><a href="http://www.howtovanish.com/2011/04/three-steps-to-handle-a-subpoena/">Three Steps On How To Get Out Of A Subpoena</a></li>
										<li><a href="http://www.howtovanish.com/2009/08/avoid-private-investigators/">Learn How To Avoid Private Investigators - Followed By A Private Investigator</a></li>
										<li><a href="http://www.howtovanish.com/2011/10/create-an-anonymous-website/">Learn How To Create An Anonymous Website Or Blog</a></li>
										<li><a href="http://www.howtovanish.com/2011/06/use-redphone-to-encrypt-cell-phone-calls/">Use RedPhone To Encrypt Cell Phone Calls</a></li>
										<li><a href="http://www.howtovanish.com/2011/02/remove-personal-information-from-the-internet/">Remove Personal Information From The Internet</a></li>
										<li><a href="http://www.howtovanish.com/2011/03/block-caller-id-prevent-reverse-phone-lookup-and-keep-your-phone-number-private/">How To Keep Phone Number Private - Block Caller ID</a></li>
										<li><a href="http://www.howtovanish.com/2011/06/cell-phone-security/">Cell Phone Security</a></li>
										<li><a href="http://www.howtovanish.com/2010/01/avoid-nosy-surveillance-cameras/">Avoid Nosy Video Surveillance Cameras</a></li>
										<li><a href="http://www.howtovanish.com/2010/09/why-an-asset-protection-attorney-loves-new-mexico-llc-registration/">Why An Asset Protection Attorney Loves New Mexico LLC Registration</a></li>
										<li><a href="http://www.howtovanish.com/2010/01/cell-phone-security-mobile-phone-taps/">Cell Phone Security: Mobile Phone Taps</a></li>
										<li><a href="http://www.howtovanish.com/2010/04/keep-address-private/">Keep Your Home Address To Yourself</a></li>
										<li><a href="http://www.howtovanish.com/2009/10/the-good-the-bad-and-the-ugly-of-google-voice/">The Good, The Bad, and the Ugly of Google Voice</a></li>
										<li><a href="http://www.howtovanish.com/2015/03/top-5-ways-to-keep-your-home-address-private/">Top 5 Ways To Keep Your Home Address Private</a></li>
										<li><a href="http://www.howtovanish.com/2010/07/privacy-fence-privacy-fences-privacy-fencing/">Make Your Home A Castle With Privacy Fencing Ideas</a></li>
									</ul>
								</section>
								<section class="6u">
									<h3>Helpful Links</h3>
									<ul class="links">
										<li><a href="https://www.bitcoinmining.com/">Bitcoin Mining</a></li>
										<li><a href="http://www.bitcoin.kn/">Bitcoin Podcast</a></li>
										<li><a href="#https://www.weusecoins.com/coinbase-review/">Coinbase Review</a></li>
										<li><a href="http://www.howtovanish.com/comebackwithwarrantdoormat">Come Back With A Warrant</a></li>
										<li><a href="http://www.howtovanish.com/dropbox">Dropbox</a></li>
										<li><a href="http://www.runtogold.com/get-a-ghost-address/">Get A Ghost Address</a></li>
										<li><a href="http://www.runtogold.com/goldmoney">GoldMoney</a></li>
										<li><a href="https://services.google.com/fb/forms/googlevoiceinvite/">Google Voice</a></li>
										<li><a href="http://www.howtovanish.tv/">HowToVanish TV</a></li>
										<li><a href="http://www.runtogold.com/2011/04/la-estancia-de-cafayate-the-great-life-hedge-in-salta-argentina/">La Estancia De Cafayate</a></li>
										<li><a href="http://www.howtovanish.com/bitcoinmegaupload">MEGA Upload</a></li>
										<li><a href="http://www.howtovanish.com/NMLLC">NM LLC</a></li>
										<li><a href="http://www.howtovanish.com/purseio">Purse.io</a></li>
										<li><a href="http://startpage.com/">Start Page – Anonymous web searches</a></li>
										<li><a href="https://www.farbeyondthestars.com/ta-65-review/">TA-65</a></li>
										<li><a href="https://www.weusecoins.com/">What Is Bitcoin</a></li>
									</ul>
									<h3>Other Great Privacy Books</h3>
									<ul class="links">
										<li><a href="http://www.howtovanish.com/SovereignIndividualBook">The Sovereign Individual</a></li>
										<li><a href="http://www.howtovanish.com/LifeboatStrategy">The Lifeboat Strategy</a></li>
										<li><a href="http://www.howtovanish.com/HowToBeInvisible">How To Be Invisible</a></li>
										<li><a href="http://www.howtovanish.com/HowToDisappear">How To Disappear</a></li>
										<li><a href="http://www.howtovanish.com/privacycrisisebook">Privacy Crisis</a></li>
									</ul>
								</section>
							</div>
						</div>
						<section class="6u">

							<h3>Anonymize Your Internet Traffic</h3>
							<center><iframe width="640" height="360" src="https://www.youtube.com/embed/HlCqSzwdjRg" frameborder="0" allowfullscreen></iframe></center>
							<center><small>Video courtesy of: <em><a href="http://www.howtovanish.com/">www.HowToVanish.com</a></em></small></center>
							<br/>
							<center><a href="http://geni.us/htvpia"><img src="{{ site.baseurl }}/images/private-internet-access.jpg"/></a></center>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="http://twitter.com/howtovanish" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/howtovanish2" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="" class="icon fa-github"><span class="label">GitHub</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; HowToVanish. All rights reserved</li>
						</ul>
					</div>

			</div>

	</body>
</html>