<style>
.wppp_list { 
	font-size: .6em;
	line-height: 1.8em; 
}
#side1 {
	float: left;
  width: 180px;
}
#side2 {
	float: right;
  width: 120px;
}
</style>
<div id="sidebar">
	<div id="multimedia_box" class="video_box">
		<div id="video_box">
			<p>
				<center>
					<font size="5">
						<font color="white">
							<a href="https://www.youtube.com/watch?v=vHI6LzzGG4Q" title="Starting To Vanish" target="_blank">Starting To Vanish</a>
						</font size>
					</font color>
					<p>
						<iframe width="350" height="197" src="https://www.youtube.com/embed/vHI6LzzGG4Q" frameborder="0" allowfullscreen>
						</iframe>
					</p>
				</center>
			</p>
		</div>
	</div>
	<center>
		<a href="http://www.howtovanish.com/beginnersbitcoinguidebanner" target="_blank">
			<img src='http://www.howtovanish.com/images/bitcoin-beginners-guide.jpg' title='BitCoin' alt='Beginner Bitcoin Guide' width="375" height="97" border='0' />
		</a>
		<p>
			<a href="http://www.howtovanish.com/howtovanishbitcoinshopbanner" target="_blank">
				<img src='http://www.runtogold.com/images/3D-bitcoin-375.jpg' title='BitCoin' alt='We accept Bitcoin' width="375" height="159" border='0' />
			</a>
		</p>
		<p>
			<a href="http://www.howtovanish.com/privateinternetaccesshtvbanner" title="Buy private internet access VPN with bitcoin" target="_blank">
				<img border="0" src="http://www.howtovanish.com/images/private-internet-access-375.jpg" alt="Buy private internet access VPN with bitcoin">
			</a>
		</p>
	</center>	
	<div id="side1">
		<h4>Popular Posts</h4>
		<ul class='wppp_list'>
			<li><a href='http://www.howtovanish.com/2011/04/three-steps-to-handle-a-subpoena/' title='Three Steps On How To Get Out Of A Subpoena'>Three Steps On How To Get Out Of A Subpoena</a></li>
			<li><a href='http://www.howtovanish.com/2009/08/avoid-private-investigators/' title='Learn How To Avoid Private Investigators - Followed By A Private Investigator'>Learn How To Avoid Private Investigators - Followed By A Private Investigator</a></li>
			<li><a href='http://www.howtovanish.com/2011/10/create-an-anonymous-website/' title='Learn How To Create An Anonymous Website Or Blog'>Learn How To Create An Anonymous Website Or Blog</a></li>
			<li><a href='http://www.howtovanish.com/2011/06/use-redphone-to-encrypt-cell-phone-calls/' title='Use RedPhone To Encrypt Cell Phone Calls'>Use RedPhone To Encrypt Cell Phone Calls</a></li>
			<li><a href='http://www.howtovanish.com/2011/02/remove-personal-information-from-the-internet/' title='Remove Personal Information From The Internet'>Remove Personal Information From The Internet</a></li>
			<li><a href='http://www.howtovanish.com/2011/03/block-caller-id-prevent-reverse-phone-lookup-and-keep-your-phone-number-private/' title='How To Keep Phone Number Private - Block Caller ID'>How To Keep Phone Number Private - Block Caller ID</a></li>
			<li><a href='http://www.howtovanish.com/2011/06/cell-phone-security/' title='Cell Phone Security'>Cell Phone Security</a></li>
			<li><a href='http://www.howtovanish.com/2010/01/avoid-nosy-surveillance-cameras/' title='Avoid Nosy Video Surveillance Cameras'>Avoid Nosy Video Surveillance Cameras</a></li>
			<li><a href='http://www.howtovanish.com/2010/09/why-an-asset-protection-attorney-loves-new-mexico-llc-registration/' title='Why An Asset Protection Attorney Loves New Mexico LLC Registration'>Why An Asset Protection Attorney Loves New Mexico LLC Registration</a></li>
			<li><a href='http://www.howtovanish.com/2010/01/cell-phone-security-mobile-phone-taps/' title='Cell Phone Security: Mobile Phone Taps'>Cell Phone Security: Mobile Phone Taps</a></li>
			<li><a href='http://www.howtovanish.com/2010/04/keep-address-private/' title='Keep Your Home Address To Yourself'>Keep Your Home Address To Yourself</a></li>
			<li><a href='http://www.howtovanish.com/2009/10/the-good-the-bad-and-the-ugly-of-google-voice/' title='The Good, The Bad, and the Ugly of Google Voice'>The Good, The Bad, and the Ugly of Google Voice</a></li>
			<li><a href='http://www.howtovanish.com/2015/03/top-5-ways-to-keep-your-home-address-private/' title='Top 5 Ways To Keep Your Home Address Private'>Top 5 Ways To Keep Your Home Address Private</a></li>
			<li><a href='http://www.howtovanish.com/2010/07/privacy-fence-privacy-fences-privacy-fencing/' title='Make Your Home A Castle With Privacy Fencing Ideas'>Make Your Home A Castle With Privacy Fencing Ideas</a></li>
		</ul>
	</div>
	<div id="side2">
		<h4>Helpful Links</h4>
		<ul class='wppp_list'>
			<li><a href="https://www.bitcoinmining.com/" title="What is Bitcoin mining?">Bitcoin Mining</a></li>
			<li><a href="http://www.bitcoin.kn" title="Bitcoin Knowledge Podcast &#8211; Interviews with the top people in the Bitcoin world." target="_blank">Bitcoin Podcast</a></li>
			<li><a href="https://www.weusecoins.com/coinbase-review/" title="A review of Coinbase &#8211; a bitcoin wallet and place to buy bitcoins" target="_blank">Coinbase Review</a></li>
			<li><a href="http://www.howtovanish.com/comebackwithwarrantdoormat" title="Come back with a warrant." target="_blank">Come Back With A Warrant</a></li>
			<li><a href="http://www.howtovanish.com/dropbox" title="Dropbox &#8211; digital storage box in the cloud" target="_blank">Dropbox</a></li>
			<li><a href="http://www.runtogold.com/get-a-ghost-address/" title="Get a ghost address." target="_blank">Get A Ghost Address</a></li>
			<li><a href="http://www.runtogold.com/goldmoney" title="GoldMoney." target="_blank">GoldMoney</a></li>
			<li><a href="https://services.google.com/fb/forms/googlevoiceinvite/" title="Google Voice" target="_blank">Google Voice</a></li>
			<li><a href="http://www.howtovanish.tv" title="How To Vanish TV channel." target="_blank">HowToVanish TV</a></li>
			<li><a href="http://www.runtogold.com/2011/04/la-estancia-de-cafayate-the-great-life-hedge-in-salta-argentina/" title="La Estancia De Cafayate" target="_blank">La Estancia De Cafayate</a></li>
			<li><a href="http://www.howtovanish.com/bitcoinmegaupload" title="MEGA Upload &#8211; Zero-Knowledge encrypted file storage" target="_blank">MEGA Upload</a></li>
			<li><a href="http://www.howtovanish.com/NMLLC" title="Get a New Mexico LLC" target="_blank">NM LLC</a></li>
			<li><a href="http://www.howtovanish.com/purseio" title="Buy products on Amazon with Bitcoin and receive a substantial discount." target="_blank">Purse.io</a></li>
			<li><a href="http://startpage.com/" title="Anonymous web searching." target="_blank">Start Page &#8211; Anonymous web searches</a></li>
			<li><a href="https://www.farbeyondthestars.com/ta-65-review/" title="TA-65" target="_blank">TA-65</a></li>
			<li><a href="https://www.weusecoins.com/" title="What is Bitcoin?" target="_blank">What Is Bitcoin</a></li>
		</ul>
	</div>
	<div class="clearfix"></div>
	<!-- Sidebar -->
	{% for post in site.posts offset: 0 limit: 2 %}
		<section>
			
		</section>
	{% endfor %}
	
</div>