<div id="sidebar">
	<div id="multimedia_box" class="video_box">
		<div id="video_box">
			<p>
				<center>
					<font size="5">
						<font color="white">
							<a href="https://www.youtube.com/watch?v=vHI6LzzGG4Q" title="Starting To Vanish" target="_blank">Starting To Vanish</a>
						</font size>
					</font color>
					<p>
						<iframe width="350" height="197" src="https://www.youtube.com/embed/vHI6LzzGG4Q" frameborder="0" allowfullscreen>
						</iframe>
					</p>
				</center>
			</p>
		</div>
	</div>
	<center>
		<a href="http://www.howtovanish.com/beginnersbitcoinguidebanner" target="_blank">
			<img src='http://www.howtovanish.com/images/bitcoin-beginners-guide.jpg' title='BitCoin' alt='Beginner Bitcoin Guide' width="375" height="97" border='0' />
		</a>
		<p>
			<a href="http://www.howtovanish.com/howtovanishbitcoinshopbanner" target="_blank">
				<img src='http://www.runtogold.com/images/3D-bitcoin-375.jpg' title='BitCoin' alt='We accept Bitcoin' width="375" height="159" border='0' />
			</a>
		</p>
		<p>
			<a href="http://www.howtovanish.com/privateinternetaccesshtvbanner" title="Buy private internet access VPN with bitcoin" target="_blank">
				<img border="0" src="http://www.howtovanish.com/images/private-internet-access-375.jpg" alt="Buy private internet access VPN with bitcoin">
			</a>
		</p>
	</center>	
	<!-- Sidebar -->
	{% for post in site.posts offset: 0 limit: 2 %}
		<section>
			<h3>{{ post.title }}</h3>
			{{ post.excerpt }}
			<footer>
				<a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
			</footer>
		</section>
	{% endfor %}
	
</div>