<div id="sidebar">
	<div id="multimedia_box" class="video_box">
		<div id="video_box">
			<p>
				<center>
					<font size="5">
						<font color="white">
							<a href="https://www.youtube.com/watch?v=vHI6LzzGG4Q" title="Starting To Vanish" target="_blank">Starting To Vanish</a>
						</font size>
					</font color>
					<p>
						<iframe width="350" height="197" src="https://www.youtube.com/embed/vHI6LzzGG4Q" frameborder="0" allowfullscreen>
						</iframe>
					</p>
				</center>
			</p>
		</div>
	</div>
	<!-- Sidebar -->
	{% for post in site.posts offset: 0 limit: 2 %}
		<section>
			<h3>{{ post.title }}</h3>
			{{ post.excerpt }}
			<footer>
				<a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
			</footer>
		</section>
	{% endfor %}
	
</div>